.carousel {
  display: flex;
  width: calc(100vw - 120px);
  padding: 2% 0%;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  & img {
    border-radius: 5px;
    border: 1px solid #000000;
    object-fit: cover;
  }
  & .main {
    height: 420px;
    width: 390px;
  }
  & .medium {
    height: 280px;
    width: 260px;
  }
  & .small {
    height: 140px;
    width: 130px;
  }
}

@media screen and (max-width: 1200px) {
  .carousel {
    & .main {
      height: 400px;
      width: 270px;
    }
    & .medium {
      height: 220px;
      width: 134px;
    }
    & .small {
      height: 100px;
      width: 140px;
    }
  }
}
