.start-page {
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 45px);
  padding-top: 45px;
  @media screen and (max-width: 768px) and (max-height: 1024px) {
    background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(../../public/pictures/main.png);
    background-size: cover;
    justify-content: unset;
    align-items: flex-end;
    background-position: center;
  }
  @media screen and (min-height: 500px) and (max-height: 768px) {
    padding-top: 0px;
    height: 100vh;
  }
}

.column {
  display: flex;
  flex-direction: column;
  &:first-child {
    @media screen and (max-width: 768px) and (max-height: 1024px) {
      display: none;
    }
  }
  &:not(:first-child) {
    margin-left: 54px;
    @media screen and (max-width: 1020px) {
      margin-left: 20px;
    }
    @media screen and (max-width: 768px) and (max-height: 1024px) {
      margin-left: 8%;
      margin-bottom: 8%;
    }
    @media screen and (max-width: 400px) and (max-height: 750px) { 
      margin-left: 2%;
    }
  }
}

.start-photo {
  height: calc(100vh - 90px);
  width: 40vw;
  border-radius: 5px;
  border: 1px solid #000000;
  object-fit: cover;
  z-index: -10;
  @media screen and (min-width: 769px) and (max-width: 1020px) and (min-height: 800px) {
    height: 65vh;
    width: 50vw;
  }
}

.start-header {
  font-family: 'Rakkas';
  font-weight: 700;
  font-size: 2em;
  line-height: 1.25em;
  width: 40vw;
  user-select: none;
  @media screen and (max-width: 1020px) {
    font-weight: 500;
    font-size: 1.5em;
  }
  @media screen and (min-height: 500px) and (max-height: 768px) {
    font-size: 1.5em;
  }
  @media screen and (max-width: 768px) and (max-height: 1024px) {
    width: auto;
  }
  @media screen and (max-width: 480px) and (max-height: 878px) {
    font-size: 1.3em;
  }
  @media screen and (max-width: 400px) and (max-height: 750px) { 
    font-size: 1em;
    font-weight: 400;
  }
}

.column .button {
  margin-top: 68px;
}

.curtain {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  z-index: -1;
  @media screen and (max-width: 1020px) {
    display: none;
  }
}

.button {
  @media screen and (max-width: 400px) and (max-height: 750px) { 
    width: 215px;
    height: 64px;
    margin-top: 30px;
    font-size: 0.75em;
  }
}
