@import url('https://fonts.googleapis.com/css?family=Rakkas');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button {
  font-family: 'Rakkas';
  width: 354px;
  height: 100px;
  background-color: #D4A72A;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  box-shadow: 0 10px #AA8522;
  &:hover {
    background-color: #AA8522;
    cursor: pointer;
    transition: background-color 1s;
  }
  &:active {
    background-color: #AA8522;
    box-shadow: 0 5px #977720;
    transform: translateY(5px);
  }
}
